<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/imgs/home/threads-logo.jpeg"
    />
    <title>THREADS | Womens Fashion</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <main>
      <section class="content-main mt-80 mb-80">
        <div
          class="card mx-auto card-login"
          style="width: 50%; height: 50%; margin-top: 200px"
        >
          <div class="card-body">
            <h4 class="card-title mb-4">Old Password</h4>
            <form
              method="post"
              action="/api/changePassword"
              onsubmit="return validateLoginForm()"
            >
              <div class="mb-3">
                <input
                  class="form-control"
                  name="currentPassword"
                  placeholder="Old Password"
                  type="password"
                  id="currentPassword"
                />
                <div class="error-message" id="password-error"></div>
              </div>
              <h4 class="card-title mb-4">Reset Password</h4>
              <div class="mb-3">
                <input
                  class="form-control"
                  name="password"
                  placeholder="Password"
                  type="password"
                  id="password"
                />
                <div class="error-message" id="password-error1"></div>
              </div>
              <div class="mb-3">
                <input
                  class="form-control"
                  name="conformPassword"
                  placeholder="Confirm Password"
                  type="password"
                  id="confirmPassword"
                />
                <div class="error-message" id="confirmPassword-error"></div>
              </div>
              <div class="mb-4">
                <button type="submit" class="btn btn-primary w-100">
                  Reset
                </button>
              </div>
            </form>

            <p class="text-center mb-4">
              Don't have account? <a href="/api/register">Sign up</a>
            </p>
          </div>
        </div>
      </section>
    </main>
    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js" type="text/javascript"></script>
    <script>
      function validateLoginForm() {
        const password = document.getElementById("password").value;
        const confirmPassword =
          document.getElementById("confirmPassword").value;
        const passwordError = document.getElementById("password-error");
        const passwordError1 = document.getElementById("password-error1");
        const confirmPasswordError = document.getElementById(
          "confirmPassword-error"
        );

        // Regular expression for password validation (at least 6 characters, with at least one uppercase letter, one lowercase letter, and one digit)
        const passwordRegex =
          /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$/;

        // Reset previous error messages
        passwordError.textContent = "";
        confirmPasswordError.textContent = "";

        // Check if the passwords match
        if (password !== confirmPassword) {
          confirmPasswordError.textContent = "Passwords do not match.";
          return false; // Prevent form submission
        }

        // Check if password meets the criteria
        if (!password.match(passwordRegex)) {
          passwordError1.textContent =
            "Password must be at least 6 characters long and contain at least one uppercase letter, one lowercase letter, and one digit.";
          return false; // Prevent form submission
        }

        // Continue with form submission if passwords match and password is valid
        return true;
      }
    </script>
  </body>
</html>
